<style>
body
{
  font-family: 'Droid Sans', sans-serif;
	font-size: 100%;
	margin: 10px;
	color: #404040;
	background-color: #fff;
}

a { color: #404040; }

div.positioner {
  position: absolute; 
  top: 30%; 
  left: 15%; 
  max-width: 70%; 
  
}

div.positioner_nav {
  position: absolute; 
  top: 0%; 
  left: 15%; 
  max-width: 70%; 
  border: 1px solid white;
  text-align: center;
}

div.map {
	position: relative;
  max-width: 50%;
	max-height: 50%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

div.map > img {
    display: block;
    max-width: 100%;
}

div.map > a {
    display: block;
    position: absolute;
    opacity:0;
}

div.map a p {
    visibility:hidden;
    text-align: center; 
    opacity:0; 
    font-family: 'Didact Gothic', sans-serif;
    font-weight:700; 
}

div.map a:hover p {
    visibility: visible;
    opacity:0; 
    height: 100%;
}

div.map about p {
    text-align: center; 
    opacity:1; 
    font-family: 'Didact Gothic', sans-serif; 
    font-weight:700; 
    height: 100%; 
}     

div.map > a:hover {
    background-color: none;
    border-bottom: 6px solid #404040;
    display: table-cell;
    vertical-align: bottom;
    text-align: center;
    opacity:1;
    font-family: 'Didact Gothic', sans-serif;
    text-decoration:none;
     }

div.map > a.a {
    top: 60%;
    left: 8%;
    width: 13%;
    height: 40%;
}

div.map > a.b {
    top: 60%;
    left: 23%;
    width: 14%;
    height: 40%;
}

div.map > a.c {
    top: 60%;
    left: 41%;
    width: 15%;
    height: 40%;
}

div.map > a.d {
    top: 60%;
    left: 59%;
    width: 12%;
    height: 40%;
}


div.map > a.e {
    top: 60%;
    left: 74%;
    width: 15%;
    height: 40%;
}

div.content {
  position: relative;
  top:  100px; 
  max-with: 100%; 
  font-family:'Didact Gothic'; 
}

</style>