/*/////////////////////*/
/*## Body Formatting ##*/
/*/////////////////////*/


.background {
    background-color: #4D5373; 
    width: 100%; 
    height: 30vh; 
    position: absolute; 
    top: 0px;
    left: 0px; 
    
}


body {background-color: white;
    font-family: 'Oxygen', sans-serif;
    line-height: 150%; 

    }


h1 {
    font-family: 'Oxygen', sans-serif;
    font-size-adjust:auto; 
    font-size: 20px;
    line-height: 25px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%; 

}


.content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    height: 90vh; 
    width: 60%; 
    min-width: 500px;
}




/*///////////////////////////*/
/*## Navigation Formatting ##*/
/*///////////////////////////*/


.nav {
    z-index: 0; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    height: 75px; 
    margin-top: 140px; 
    min-width: 250px; 
    width: 50%; 
    color: white; 
}

.nav a:link, a:active {
    color: white; 
    text-decoration: none; 
    padding-left: 5px; 
    padding-right: 5px; 
}

.nav a:hover {
    color: white; 
    text-decoration: none; 
    opacity: .9; 
    border-bottom: 1px solid white; 
    border-top: 1px solid white; 
    padding-top: 12px; 
    padding-bottom: 12px; 
    padding-left: 5px; 
    padding-right: 5px; 
}



.right-sidebar{
    z-index: 0; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.right-content {
    padding-top: 195px; 
    padding-left: 1px; 
    min-width: 250px; 
    width: 50%; 
    line-height: 26px; 
}

.left-sidebar{
    z-index: 0;
}

.profile-pic {
    z-index:0; 
    margin-top: 130px; 
    width: 200px; 
    height: 200px; 
    border: 5px solid white; 
    background-image: url('https://www.dropbox.com/s/z8yhcz5wapv7mzr/tiffany-pumpkin.png?raw=true'); 
    background-size:cover; 
    
}

.contact-info {
    padding-top: 20px; 
    padding-left: 2px; 
    width: 200px;    
    line-height: 13px;
}

.contact-info p {
    color: gray; }