:root {
    --dark-primary: #181818; 
    --light-primary: #efefef; 
  }

html {
    font-size: 16px; 
    font-family: 'Roboto', 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    background-color: var(--dark-primary); 
    color: var(--light-primary); 
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

    html.light {
        background-color: var(--light-primary) !important; 
        color: var(--dark-primary) !important; 
    }

    html.light a {
        color: var(--dark-primary) !important; 
    }

body {
    font-size: 1em; 
    font-weight: 300; 
    line-height: 1.5em; 
    margin: 0px;
    margin-bottom: 16px; 

    min-height: 100vh; 
    height: auto; 

    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}


h2 {
    font-size: 1em; 
    line-height: .7em; 
    font-weight: 500;
}

header {
    z-index: 999; 
    position: sticky;
    left: 0px; 
    top: 0px; 
    width: calc(100vw - 32px);
    padding: 8px 16px; 
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 

    background-color: var(--dark-primary); 
    /* border-bottom: 1px solid var(--light-primary);  */

}

header.light {
    background-color: var(--light-primary); 
    /* border-bottom: 1px solid var(--dark-primary);  */
}

hr {
    margin-bottom: 16px; 
}

#theme-icon {
    color: var(--light-primary); 
}

#theme-icon.light {
    color: var(--dark-primary); 
}

header a, #social a{
    color: var(--light-primary); 
    text-decoration: none;
    padding-top: 8px; 
    padding-right: 8px; 
}

header.light a:focus, #social.light a:focus, .content.light a:focus {
    outline-color: var(--dark-primary);
}

header a:focus, #social a:focus, .content a:focus {
    outline-color: var(--light-primary);
    padding: 4px; 
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}


    #settings span:hover, a:hover {
        cursor: pointer; 
        opacity: .6; 
    }

    #settings, #nav{
        display: flex; 
        height: 100%; 
        flex-direction: row;
        align-items: center;
    }

    #settings a, #settings span, #nav a{
        padding: 0px 8px; 
    }

    #nav a {
        padding: 0px; 
    }

.content {
    margin-top: 64px; 
    padding: 0px 16px;        
    display: flex; 
    flex-direction: column;
    width: 50vw; 
    min-width: 340px; 
    max-width: 700px; 
}

    .content a {
        text-decoration: underline; 
        text-decoration-skip: ink; 
        color: var(--dark-primary);
        background-color: var(--light-primary); 
        font-weight: 600; 
    }

    #hello {
        padding-bottom: 8px; 
        font-style: italic; 
    }

    #resume-section {
        width: 100%; 
        display: flex; 
        flex-direction: column;
        justify-content: flex-start;
        
    }

footer {
    width: calc(100vw - 32px);
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 16px 16px; 
}


.spacing {
    height: 16px; 
}

#prof {
    display: none; 
}

@media only screen and (min-width: 768px) {

    header, header.light {
        border-bottom: none; 
        flex-direction: column;
        align-items: flex-start;
        background-color: transparent; 
    }

        #settings a, #settings span, #nav a{
            padding: 0px; 
            padding-bottom: 8px; 
        }

        #settings {
            flex-direction: column;
            align-items: flex-start;
        }

    footer {
        position: sticky; 
        bottom: 0px; 
    }

    body {
        align-items: center; 
        justify-content: center;

    }

    .content {
        margin-top: 0px; 
    }

    #resume-section {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        
    }

    #work, #speaking {
        width: 48%; 
    }

    header a, #social a{
        display: block; 
        margin-bottom: 0px; 
    }

    hr {
        display: none;
    }

}