/*/////////////////////*/
/*## Body Formatting ##*/
/*/////////////////////*/

.background {
    background-color: #4D5373; 
    width: 100%; 
    height: 30vh; 
    position: absolute; 
    top: 0px;
    left: 0px; 
}

body, .bottom-contact {
    background-color: white;
    font-family: 'Oxygen', sans-serif;
    line-height: 150%; 
    }


h1 {
    font-family: 'Oxygen', sans-serif;
    font-size-adjust:auto; 
    font-size: 20px;
    line-height: 25px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%; 
}


.content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    height: 90vh; 
    width: 60%; 
    min-width: 500px;
}


/*///////////////////////////*/
/*## Navigation Formatting ##*/
/*///////////////////////////*/

.nav {
    z-index: 0; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    height: 75px; 
    margin-top: 140px; 
    min-width: 400px; 
    width: 70%; 
    color: white; 
}

.nav a:link, a:active, a:visited {
    color: white; 
    text-decoration: none; 
}

.nav a:hover {
    color: white; 
    text-decoration: none; 
    opacity: .9; 
    border-bottom: 1px solid white; 
    border-top: 1px solid white; 
    padding-top: 12px; 
    padding-bottom: 12px; 
}


/*/////////////////////*/
/*## Main Content ##*/
/*/////////////////////*/

.right-sidebar{
    width: 100%; 
    z-index: 0; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.right-content {
    padding-top: 80px; 
    min-width: 400px; 
    width: 70%; 
    line-height: 26px; 
}


/*///////////////////////*/
/*## Footer Formatting ##*/
/*///////////////////////*/

.bottom {
    width: 100%; 
    display: flex; 
    justify-content: center; 
}

.bottom-content {
    min-width: 350px;
    width: 60%; 
    padding-top: 15px; 
    border-top: 1px solid gray;  
    display: flex; 
    justify-content: flex-end; 
}

footer a:link, a:active {
    text-decoration: none; 
    color: gray; 
    font-family: 'Oxygen', sans-serif;
}

footer a:hover {
    opacity: .8;
}
