---
const { activePage } = Astro.props ;
---

<header class='mb-12 flex w-full flex-wrap pb-3 text-sm sm:flex-nowrap sm:justify-start'>
	<nav
		class='relative mx-auto flex w-full items-center justify-between sm:flex sm:items-center'
		aria-label='global'
	>
		<a class='flex-none text-xl font-semibold' href='/' aria-label='Brand'>🥳 Tiffany Chen</a>

		<div class='flex flex-row items-center justify-center gap-x-5 sm:gap-x-7'>
			<a
				href='/'
				class='design flex-none text-[1.05rem] font-medium hover:text-foreground/75'
				aria-label='Nav Menu Item'
				>
				{activePage == "Design" ? <b><u>Design</u></b> : "Design"}
			</a>
			<a
				href='/art'
				class='art flex-none text-[1.05rem] font-medium hover:text-foreground/75'
				aria-label='Nav Menu Item'
				>
				{activePage == "Art" ? <b><u>Art</u></b> : "Art"}
			</a>
		</div>
	</nav>
</header>
